header h1{
    font-size: 60px;
    text-decoration: underline;
}
main{
    background-color: rgba(255, 255, 255, 0.4);

}
main p{
    margin-left: 40px;
    font-size: 20px;
}
main .welcome{
    font-size: 40px;
    color: #8E8AEB;
}
main .quiz{
  text-align: center;
}
.quiz img{
  width: 50%;
}
main dl{
  text-align: center;
  font-size: 20px;
}
main dl dt{
  color: white;
  background-color: #8E8AEB;
}
footer{
  background-color: black;
  color: white;
  text-align: right;
}